<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>ThumbstickJS by lazerwalker</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <meta property="og:title" content="thumbJS" />
  <meta property="og:description" content="A virtual joystick for touch capable interfaces." />
  <link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
  <link rel="stylesheet" href="{{ site.path }}/stylesheets/highlight.css">
  <link rel="stylesheet" href="{{ site.path }}/stylesheets/github-light.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>ThumbstickJS</h1>
      <p>A virtual joystick for touch capable interfaces.</p>
      <p class="view"><a href="https://github.com/lazerwalker/thumbstick">View the Project on GitHub <small>lazerwalker/thumbstick</small></a></p>
      <ul>
        <li><a href="https://github.com/lazerwalker/thumbstick/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/lazerwalker/thumbstick/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a href="https://github.com/lazerwalker/thumbstick">View On <strong>GitHub</strong></a></li>
      </ul>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
      <p>This project is maintained by <a href="https://github.com/lazerwalker">lazerwalker</a></p>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
  </div>
  <script src="{{ site.path }}/javascripts/scale.fix.js"></script>
  <script src="{{ site.path }}/javascripts/app.js"></script>
</body>

</html>